<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="configFragment">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="email=no">
        <meta name="description" content="mypet">
        <meta name="keywords" content="mypet">
        <link rel="exerd icon" th:href="@{/img/favicon.ico}" />
        <link rel="stylesheet"  th:href="@{/css/style.css}" />
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/custom.js}"></script>
        <script th:src="@{/js/ui.js}"></script>
        <title>eXERD</title>
    </head>
</html>