<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragment" id="footer">
    <div class="footer-wrap">
        <ul class="footer-lnk">
            <li class="quick">
                <strong>Quick Links</strong>
                <ul>
                    <li><a th:href="@{/releaseNote}">· 릴리즈노트</a></li>
                    <li><a th:href="@{/company}">· 회사소개</a></li>
                    <li><a th:href="@{/license}">· 라이센스</a></li>
                    <li><a th:href="@{/#index05}">· 고객</a></li>
                    <li><a th:href="@{/buy}">· 구매</a></li>

                </ul>

            </li>
            <li class="contact">
                <strong>Contact</strong>
                <ul>
                    <li>
                        <em>· 주소 :</em> 서울시 강남구 논현로 128길 5, 장뻘빌딩 5,6,8층
                    </li>
                    <li>
                        <em>· 구매문의 :</em> 02-3445-2194(내선 210)
                    </li>
                    <li>
                        <em>· 이메일 :</em> exerd@tomatosystem.co.kr
                    </li>
                </ul>
            </li>
            <li class="link">
                <ul>
                    <li><a th:href="@{/privacyPolicy}">· 개인 정보 정책</a></li>
                    <li><a th:href="@{/serviceTerm}">· 서비스 약관</a></li>
                </ul>
            </li>
        </ul>
        <a href="#intro" class="bt-top" id="bt-fir">top</a>
    </div>
    <div class="footer-inf">
        <p class="copy">Copyright(c) 2010 Tomato System. All Rights Reserved.</p>
        <p class="cmt">(주)토마토시스템의 모든 이미지 및 컨텐츠의 저작권은 (주)토마토시스템에 있으며 무단복제나 도용은 저작권법에 의해 금지되어 있습니다. <br>이를 위반할 시에는 법적인
            처벌을 받을 수 있습니다.</p>
    </div>
    <div id="loadingBg"></div>
    <div id="loadingBox">
        <img th:src="@{/img/logo.png}">
        <div class="loading-box-bg"></div>
    </div>
</div>
</html>