<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headerFragment" id="wrap"
         th:with="uri=${#httpServletRequest.requestURI}"
         th:classappend="${uri} == '/' ? 'index' : ${#strings.replace(uri,'/','')}">
        <header id="header">
            <div class="inner">
                <h1 class="logo"><a href="/">eXERD</a></h1>
                <div class="utill">
                    <a th:href="@{/buy}" class="buy">구매하기</a>
                    <span th:text="${#httpServletRequest.requestURI}"></span>
                    <a th:href="@{/down}" class="down">다운로드</a>
                    <a href="http://exerd.com:8081/help/index.jsp?lang=ko&topic=%2Fcom.tomato.exerd.help%2Fhtml%2Fproducts%2Fwhatsexerd.html" target="_blank" class="doc">문서</a>
                    <a href="https://techdom.tomatosystem.co.kr/p/00019/?bn=eXERD&tn=qna" target="_blank" class="sup">지원</a>
                </div>
                <div class="lang">
                    <a href="#" class="active">kr</a>
                    <a href="http://en.exerd.com/">en</a>
                </div>
            </div>
        </header>
        <div class="bt-mn">
            <a href="#none"><i></i><i></i><i></i><span>메뉴</span></a>
        </div>

        <div id="lm">
            <div class="inner">
                <div class="hd">
                    <h1 class="logo"><a th:href="@{/}">eXERD</a></h1>
                    <a href="#none" class="close">닫기</a>
                </div>
                <div class="lang">
                    <a href="#" class="active">kr</a>
                    <a href="https://en.exerd.com">en</a>
                </div>
                <ul class="menu">
                    <li><em>Menu</em>
                        <ul>
                            <li><a th:href="@{/down}">다운로드</a></li>
                            <li><a th:href="@{/buy}">구매</a></li>
                            <li><a href="http://exerd.com:8081/help/index.jsp?lang=ko&topic=%2Fcom.tomato.exerd.help%2Fhtml%2Fproducts%2Fwhatsexerd.html" target="_blank">문서</a></li>
                            <li><a href="https://techdom.tomatosystem.co.kr/p/00019/?bn=eXERD&tn=qna" target="_blank">지원</a></li>
                        </ul>
                    </li>
                    <li><em>Quick Link</em>
                        <ul>
                            <li><a th:href="@{/releaseNote}">릴리즈노트</a></li>
                            <li><a th:href="@{/license}">라이선스</a></li>
                            <li><a th:href="@{/buy}">구매</a></li>
                            <li><a href="./about.html">회사소개</a></li>
                            <li><a href="./index.html#index05">고객</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="lnk">
                    <a href="./policy.html">개인 정보 정책</a>
                    <a href="./service.html">서비스 약관</a>
                </div>
            </div>
        </div>
    </div>
