@charset "utf-8";

/* 
 * 'Noto Sans KR
 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/NotoSansKR-Thin.woff2) format('woff2'),
       url(./fonts/NotoSansKR-Thin.woff) format('woff'),
       url(./fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(./fonts/NotoSansKR-Light.woff) format('woff'),
       url(./fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(./fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(./fonts/NotoSansKR-Regular.woff) format('woff'),
        url(./fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(./fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(./fonts/NotoSansKR-Medium.woff) format('woff'),
        url(./fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(./fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(./fonts/NotoSansKR-Bold.woff) format('woff'),
        url(./fonts/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(./fonts/NotoSansKR-Black.woff2) format('woff2'),
        url(./fonts/NotoSansKR-Black.woff) format('woff'),
        url(./fonts/NotoSansKR-Black.otf) format('opentype');
 }


@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Book'), url('./fonts/GothamBook.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Book Italic'), url('./fonts/GothamBookItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Light';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Light'), url('./fonts/GothamLight.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Light Italic'), url('./fonts/GothamLightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Medium'), url('./fonts/GothamMedium.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Medium'), url('./fonts/GothamMedium_1.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Medium'), url('./fonts/GothamMediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Bold'), url('./fonts/GothamBold.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Bold'), url('./fonts/Gotham-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Bold Italic'), url('./fonts/GothamBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Black Regular'), url('./fonts/Gotham-Black.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Light Regular'), url('./fonts/Gotham-Light.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Thin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Thin Regular'), url('./fonts/Gotham-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Gotham XLight Regular';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham XLight Regular'), url('./fonts/Gotham-XLight.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Book Italic'), url('./fonts/Gotham-BookItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Thin Italic'), url('./fonts/Gotham-ThinItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Ultra Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham Ultra Italic'), url('./fonts/Gotham-UltraItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham XLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/Gotham XLight Italic'), url('./fonts/Gotham-XLightItalic.woff') format('woff');
}