<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="container">
        <div class="sub-vis about">
            <div class="inbx">
                <div class="breadcrumb">
                    <div class="pc">
                        <a th:href="@{/}"  class="home">home</a>
                        <a th:href="@{/releaseNote}" >Quick Link</a>
                        <strong>회사소개</strong>
                    </div>
                    <div class="mobile">
                        <a th:href="@{/releaseNote}" class="prev">
                            <span>prev</span>
                        </a>
                        <strong>회사소개</strong>
                        <a th:href="@{/license}" class="next">
                            <span>next</span>
                        </a>
                    </div>
                </div><!-- /breadcrumb -->
                <h2 class="sub-tit  opacity" data-animation-effect="fadeInUp" data-effect-delay="100">About Tomatosystem</h2>
                <div class="copy">
                    <span  class="opacity" data-animation-effect="fadeInUp" data-effect-delay="400">최고의 소프트웨어를 통한 <br class="mob"> 최적의 서비스를 제공하는 </span>
                    <span  class="opacity" data-animation-effect="fadeInUp" data-effect-delay="700">토마토시스템입니다.</span>
                </div>
                <div class="img opacity" data-animation-effect="fadeInUp" data-effect-delay="400"></div>
            </div>
        </div><!-- /sub-vis-->
        <div class="s-content">
            <div class="inner">
                <div class="about-sec01">
                    <div class="desc">
                        <div class="img opacity" data-animation-effect="fadeInUp" data-effect-delay="100">
                            <img th:src="@{/img/about_img.png}" alt=""></div>
                        <div class="desc01 opacity" data-animation-effect="fadeInUp" data-effect-delay="400">
                            <span>
                                <em>토마토시스템</em>
                            </span>
                            <span>겉과 속이 똑같은 토마토처럼 </span>
                            <span>투명하고
                                <strong>진실하게</strong>
                            </span>
                            <span>
                                <strong>세상에 답하는 기업</strong>
                            </span>
                        </div>
                        <div class="desc02 opacity" data-animation-effect="fadeInUp" data-effect-delay="100">
                            <strong class="c-blue2">토마토시스템</strong>은 뛰어난 기술과 노하우를 바탕으로 고객을 위한 최적의 서비스를 제공하고자 한결같이 노력해 왔으며  기업용 소프트웨어 개발, 시스템 통합, IT 아웃소싱, 컨설팅 등 다양한 분야에서 업계를 선도해 나가고 있습니다.<br><br>
                            토마토시스템은 기술 ㆍ 문화 ㆍ 윤리적 측면에서 모범이 되고 '합리적인 가격과 편리한 소프트웨어로 풍요롭고 건강한 세상을 만드는 기업'이 되기 위해 발돋움하고 있는 대한민국 No.1 IT서비스 기업입니다.
                        </div>
                    </div>
                    <ul class="about-lst">
                        <li class="opacity" data-animation-effect="fadeInUp" data-effect-delay="100">
                            <strong>신뢰</strong>
                            <div>
                                <p>믿고 의지하며 즐겁게 일할 수 있는</p>
                                <p>일터를 만들어 나가고 있습니다.</p>
                            </div>
                        </li>
                        <li class="opacity" data-animation-effect="fadeInUp" data-effect-delay="400">
                            <strong>감동</strong>
                            <div>
                                <p>삶을 풍요롭게 하며 고객 만족을 위해 </p>
                                <p>끝없이 노력하고 있습니다. </p>
                            </div>
                        </li>
                        <li class="opacity" data-animation-effect="fadeInUp" data-effect-delay="700">
                            <strong>혁신</strong>
                            <div>
                                <p>끊임없는 혁신활동을 통해 </p>
                                <p>세계 최고기업이 되기 위해 노력합니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="about-sec02">
                    <h3 class="sub-tit3 opacity" data-animation-effect="fadeInUp" data-effect-delay="100">오시는길</h3>
                    <div class="map-bx opacity" data-animation-effect="fadeInUp" data-effect-delay="400"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12658.90859489962!2d127.03205100000001!3d37.514353!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca3f19f2aa577%3A0x758d90074031ddbd!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDrhbztmIQy64-ZIOuFvO2YhOuhnDEyOOq4uCA1!5e0!3m2!1sko!2skr!4v1557197082521!5m2!1sko!2skr" class="map" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                    <ul class="loc-bx opacity" data-animation-effect="fadeInUp" data-effect-delay="300">
                        <li>
                            <strong>주소</strong>
                            <span>서울시 강남구 논현로128길 5 5,6,8층</span>
                        </li>
                        <li>
                            <strong>전화번호</strong>
                            <span>02. 3445. 2194</span>
                        </li>
                        <li>
                            <strong>팩스</strong>
                            <span>02. 3445. 2198</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</div>
</html>