<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="container">
        <div class="sub-vis down">
            <div class="inbx">
                <div class="breadcrumb">
                    <div class="pc">
                        <a href="/" class="home">home</a>
                        <strong>다운로드</strong>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</html>